<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="head.css">
</head>
<body>
	<div class="header"><a id="head" href="index.py"><h1>eagoalyg</h1></a></div>
	<div class="body">
		<ul>
		<li><a href="index.py"><span id="t">首页</span></a></li>
		<li><a href="/python.py"><span id="t">python</span></a></li>
		<li><a href="#"><span id="t">c语言</span></a></li>
		<li><a href="#"><span id="t">java</span></a></li>
	</ul>
	</div>
	<div class="content">python content</div>
</body>
</html>